<div class="bg-[url(https://images.wallpapersden.com/image/download/black-color-liquid-4k_bGtpbmeUmZqaraWkpJRqZmdlrWdtbWU.jpg)] bg-cover">
  <div class="hero mx-auto min-h-screen flex-col w-3/5 ">
    <div class="backdrop-blur-lg p-4 rounded-2xl shadow-md -mt-24 shadow-black">
      <div class="w-lg bg-white font-sans mx-auto rounded-xl shadow-md shadow-black flex flex-col items-center overflow-hidden py-4" >
        <h2 class="text-4xl p-2 font-bold w-full text-center" >Reset Password</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "w-5/6" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field mt-6 ">
            <%= f.label :email, class: "text-sm" %><br />
            <%= f.email_field :email, class: "input bg-gray-100 w-full mt-2", autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "Submit", class: "btn btn-neutral w-full mt-4" %>
          </div>
        <% end %>

        <div class="my-6 flex-col text-sm justify-between w-4/5">
        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>

